body {
    /* background-color: ivory; */
    background-image: url("../images/background.jpg");
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  
  .header {
    background-color: yellow;
    margin: 0;
    width: 85%;
    display: block;
  }
  
  .left {
    background-color: green;
    width: 200px;
    height: 300px;
    display: block;
  
    position: relative;
    left: 30px;
  }
  
  .middle {
    background-color: cornflowerblue;
    padding: 10px 10px 10px;
    width: 900px;
    display: block;
  
    position: relative;
    bottom: 300px;
    left: 250px;
  
  }
  
  .about-company {
    background-color: skyblue;
  }
  
  .philosophy {
    background-color: skyblue;
  }
  
  .company-detail {
    background-color: skyblue;
  }
  
  .left-content h2 {
    border: 3px solid black;
    border-radius: 15px;
    text-align: center;
    width: 150px;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
    justify-content: space-between;
    list-style: none;
  
  }