html {
  font-size: 15px;
  line-height: 1.8;
  font-family: "YuGothic", "游ゴシック", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

body {
  background-color: ivory;
  display: block;
  color: #0f3668;
}

h2 {
  font-size: 18px;
}

@media (max-width: 768px) {
  body {
    color: blue;
  }
}

a {
  text-decoration: none;
  color: #0f3668;
}

a:hover {
  opacity: .7;
}

.header {
  background-color: yellow;
  margin: 0;
  padding: 50px 0 0;
  width: 95%;
  display: block;
}

.left {
  background-color: green;
  width: 15%;
  height: 300px;
  display: block;

  position: relative;
  left: 30px;
}

.middle {
  background-color: cornflowerblue;
  padding: 10px 10px 10px;
  width: 70%;
  display: block;

  position: relative;
  bottom: 300px;
  left: 250px;
}

.compay-logo {
  position: absolute;
  top: 10px;
}

.about-company {
  background-color: skyblue;
}

.philosophy {
  background-color: skyblue;
}

.company-detail {
  background-color: skyblue;
}

.left-content h3 {
  color: #0f3668;
  text-align: center;
  font-size: 10px;
}

.left-content h3::before {
  content: '';
  width: 22px;
  height: 0.5px;
  background-color: #0f3668;
  display: inline-block;
  margin: 3px;
}

.left-content h3::after {
  content: '';
  width: 22px;
  height: 0.5px;
  background-color: #0f3668;
  display: inline-block;
  margin: 3px;
}

.list {
  display: flex;
  flex-direction: column;
  writing-mode: vertical-rl;
  justify-content: space-between;

  position: relative;
  left: 80%;
}

.list li {
  font-size: 14px;
  text-align: top;
  list-style: none;
  margin: 2px;
  padding: 3px;
}

.company-detail {
  width: 100%;
}

.detail-list {
  font-size: 14px;
  color: black;
  line-height: 2;
}

@media print, screen and (min-width: 480px) {
  .detail-list {
    font-size: 14px;
    line-height: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media print, screen and (min-width: 1020px) {
  .detail-list {
    font-size: 14px;
    line-height: 28px;
    line-height: 2.8rem;
  }
}

.detail-list dt {
  margin-bottom: 10px;
  border-bottom: 1px solid #0f3668;
}

@media print, screen and (min-width: 480px) {
  .detail-list dt {
    margin-bottom: 0;
    padding: 10px 0;
    width: 21%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.detail-list dd {
  margin-bottom: 30px;
}

@media print, screen and (min-width: 480px) {
  .detail-list dd {
    margin-bottom: 0;
    padding: 10px 0;
    width: 71%;
    border-bottom: 1px solid #0f3668;
  }
}

.content-navigator {
  margin: 0 auto;
  padding: 0;
  width: 160px;

  position: fixed;
}

.content-navigator ul {
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.content-navigator ul li {
  margin: 0 0 10px 0;
  padding: 0;
  display: block;
}

.content-navigator ul li a {
  width: 100%;
  border: 1px solid #649bb1;
  border-radius: 10px;
  font-size: 12px;
  font-size: 0.9rem;
  line-height: 28px;
  line-height: 2rem;
  color: #0f3668;
  text-align: center;
  font-weight: bold;
  display: block;
  position: relative;
}

.content-navigator ul li a::before, .content-navigator ul li a::after {
  content: '';
  height: 1px;
  background-color: #0f3668;
  display: block;
  position: absolute;
}

.content-navigator ul li a::before {
  width: 9px;
  top: 50%;
  left: 10px;
}

.content-navigator ul li a::after {
  width: 4px;
  top: 50%;
  left: 14px;
  transform: rotate(60deg);
  transform-origin: right bottom;
}

.content-navigator ul li a:hover {
  background-color: #649bb1;
  color: #fff;
  text-decoration: none;
  opacity: .7;
  transition: opacity .3s linear, background-color .3s linear;
}

.content-navigator ul li a:hover::before, .content-navigator ul li a:hover::after {
  background-color: #fff;
}

.subtitle {
  font-size: 8px;
}

.subtitle::before {
  content: '';
  width: 22px;
  height: 0.5px;
  background-color: #0f3668;
  display: inline-block;
  margin: 3px;
}

.subtitle::after {
  content: '';
  width: 22px;
  height: 0.5px;
  background-color: #0f3668;
  display: inline-block;
  margin: 3px;
}